<!DOCTYPE html>
<html>
<head>
    <title>Search For Locations</title>
    <link rel="stylesheet" type="text/css" href="~/Content/main.css">
    <link rel="stylesheet" href="~/Content/jquery-ui-1.11.4.custom/jquery-ui.css" />
    <script src="~/Content/jquery-ui-1.11.4.custom/external/jquery/jquery.js"></script>
    <script src="~/Content/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
</head>

<body>
    <form class="form" action="/search" method="post">
        <div>
            <div>
                <a href="/">To add new point</a>
            </div>
            <div class="ui-widget">
                <input type="text" name="query" class="textbox" placeholder="Search" id="autocomplete" />
            </div>
        </div>
    </form>
    <script>
        $(function () {
            $("#autocomplete").autocomplete({
                source: function (request, response) {
                    var q = request.term.toLowerCase();
                    var postData = {
                        "query": {
                            "bool": {
                                "should": [
                                   {
                                       "match": {
                                           "title": {
                                               "query": q,
                                               "boost": 5
                                           }
                                       }
                                   },
                                   {
                                       "match": {
                                           "keywords": {
                                               "query": q,
                                               "boost": 1
                                           }
                                       }
                                   },
                                   {
                                       "match": {
                                           "latitude": {
                                               "query": q,
                                               "boost": 1
                                           }
                                       }
                                   },
                                   {
                                       "match": {
                                           "longitude": {
                                               "query": q,
                                               "boost": 1
                                           }
                                       }
                                   }
                                ]
                            }
                        }
                    };
                    $.ajax({
                        url: "http://e1769d00633423e91f3b85fe2555dab9.us-east-1.aws.found.io:9200/locations/location/_search",
                        type: "POST",
                        dataType: "JSON",
                        data: JSON.stringify(postData),
                        success: function (data) {
                            response($.map(data.hits.hits, function (item) {
                                return {
                                    label: item._source.title + ' ' + item._source.keywords + ' ' + item._source.latitude + ' ' +item._source.longitude,
                                    id: item._source.id
                                }
                            }));
                        },
                    });
                },
                minLength: 1
            })
        });
    </script>
</body>
</html> 