<!DOCTYPE html>
<html>
<head>
    <title>Search For Locations</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="~/scripts/Main.js"></script>
</head>

<body>
    <form class="form" action="/search" method="post">
        <div>
            <div>
                <a href="/">Add new point</a>
                <input type="text" id="Query" name="Query" placeholder="Search" class="textbox"/>
            </div>
            <button type="submit" class="button">Search</button>
        </div>
    </form>

</body>
</html> 